<%- include("partials/header.ejs") %>

<div class="former">
<form action="/seminar/show/stat" method="post" class="showForm">
    <h1>SEMINAR BOOKING BASED ON MONTH AND STAT</h1>

    <div class="form-group col-md-6 StatDiv">
      <h4>STATUS</h4>
      <div class="form-check form-check-inline">
        <input type="radio" name="status" id="unbook" value="Not Booked">
        <label for="unbook">FREE</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="radio" name="status" id="book" value="booked">
        <label for="book">BOOKED</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="radio" name="status" id="all" value="*">
        <label for="all">ALL</label>
      </div>
    </div>
    
    <div class="form-group col-md-12 DayDiv">
      <h4>MONTH</h4>

      <div class="form-check form-check-inline">
        <input type="radio" name="month" id="Jan" value="01">
        <label for="Jan">Jan</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="radio" name="month" id="Feb" value="02">
        <label for="Feb">Feb</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="radio" name="month" id="Mar" value="03">
        <label for="Mar">Mar</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="radio" name="month" id="Apr" value="04">
        <label for="Apr">Apr</label>
      </div>


      <div class="form-check form-check-inline">
        <input type="radio" name="month" id="May" value="05">
        <label for="May">May</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="radio" name="month" id="Jun" value="06">
        <label for="Jun">Jun</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="radio" name="month" id="Jul" value="07">
        <label for="Jul">Jul</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="radio" name="month" id="Aug" value="08">
        <label for="Aug">Aug</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="radio" name="month" id="Sep" value="09">
        <label for="Sep">Sep</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="radio" name="month" id="Oct" value="10">
        <label for="Oct">Oct</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="radio" name="month" id="Nov" value="11">
        <label for="Nov">Nov</label>
      </div>

      <div class="form-check form-check-inline">
        <input type="radio" name="month" id="Dec" value="12">
        <label for="Dec">Dec</label>
      </div>
    </div>

    
    <button type="submit" class="btn btn-dark Srbtn">Search</button>

  </form>
  

  <div class="StatBox">

    <% if(locals.Result) {%>
    <% for(var i=0 ; i< Result[0].length ; i++) { %>

      <%const stat =  Result[0][i]["Status"] %>


      <% if(stat === "Not Booked"){ %>
        <% BoxClass = "NotBookedBox" %>
        <div class=<%= BoxClass %>>

          <h6 class="dateDS"><b>Date  </b><%=Result[0][i]["Date"] %></h6>
          <h6><b class="Tslot">Hall  </b><%=Result[0][i]["Room_No"] %></h6>

        </div>
  
        
      <% }else{ %>
        <% BoxClass = "BookedBox" %>
        <div class=<%= BoxClass %>>

          <h6><b>Event  </b><%=Result[0][i]["Event"] %></h6>
          <h6 class="dateDS"><b>Date  </b><%=Result[0][i]["Date"] %></h6>
          <h6><b class="Tslot">Hall  </b><%=Result[0][i]["Room_No"] %></h6>



          
        </div>
  
      <% } %>
      
    <% } %>
    <% } else {%>
      <h1>Search</h1>  
    <% } %> 
  </div>
</div>
</body>
</html>